site_name: "Samay"
site_description: "A unified Python library for time-series foundational models"
site_author: "Harshavardhan Kamarthi & B. Aditya Prakash"
repo_url: https://github.com/AdityaLab/Samay
repo_name: AdityaLab/Samay

theme:
  name: material
  palette:
    primary: indigo
    accent: blue
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.highlight
    - search.share
    - content.code.copy
  icon:
    repo: fontawesome/brands/github

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/AdityaLab/Samay

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [Samay/src]
          options:
            show_source: true
            show_root_heading: true
            show_root_full_path: false
            docstring_style: google
            merge_init_into_class: true
            show_signature_annotations: true

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - toc:
      permalink: true

extra_javascript:
  - javascripts/external-links.js

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Models:
      - LPTM: models/lptm.md
      - MOMENT: models/moment.md
      - TimesFM: models/timesfm.md
      - Chronos: models/chronos.md
      - MOIRAI: models/moirai.md
      - TinyTimeMixer: models/ttm.md
  - API Reference:
      - Models: api/models.md
      - Datasets: api/datasets.md
      - Metrics: api/metrics.md
  - Examples: examples.md

